inlcude layout
  block content
    div
      form(action='/login', method='post')
        div
          input(type='text', name='username')
        div
          input(type='text', name='password')
        div
          button(type='submit') Log In