include layout
block content
    script(src='js/dropzone.js')

    div.container
      div.fluid-row

        div#photo
            //thumbnail de esto es del user.
            form(action='/editprofile/photo', class='dropzone', id='profilePic')
            p Drop your profile here if you want to update it!

        div#skills
            for tag in tags
                p #{tag.tag}

        div#hours
            input#addHour(type='button', value='Add date')

        div#save
            input(type='button', value='Save')

    script(src='/components/jquery/jquery.min.js')
    script(src='/js/underscore.js')
    :coffeescript

        days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        hours = ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00']

        Dropzone.options.profilePic =
            init: ->
                this.on 'success', (file, data) ->
                    console.log data
                #adjust el box para que sea el que se guardo

        document.getElementById('addHour').onclick = (e) ->
            newSelect = document.createElement 'select'
            $(newSelect).attr 'id', 'dayId'.concat ($('#hours').children().size() - 1)/2
            for day in days
                option = new Option()
                option.text = option.value = day
                newSelect.options.add option
            $('#hours').append newSelect

            newSelect = document.createElement 'select'
            $(newSelect).attr 'id', 'hourId'.concat ($('#hours').children().size() - 2)/2
            for hour in hours
                option = new Option()
                option.text = option.value = hour + ' AM'
                newSelect.options.add option
            for hour in hours
                option = new Option()
                option.text = option.value = hour + ' PM'
                newSelect.options.add option
            $('#hours').append newSelect

        document.getElementById('save').onclick = (e) ->
            hours = {}
            for index in [0..Math.floor ($('#hours').children().size()-2)/2]
                dayId = $('#dayId' + index).val()
                if _.has hours, dayId
                    hours[dayId].push $('#hourId' + index).val()
                    hours[dayId] = _.uniq hours[dayId]
                else
                    hours[dayId] = [$('#hourId' + index).val()]
            console.log hours









