extends layout

block content
  script(src='/components/jquery/jquery.min.js')
  script(src='/js/parsley.min.js')
  body(style="background:white;")
  section
    div.main-image
      div.container
        div.row-fluid
          div.box
            h2 Tell us about your skills, we'll match you with a mentor.
            div.form-wrapper
              div.form-steps
                ul
                  li.info
                    h3 1
                    span Name
                  li.skills
                    h3 2
                    span Skills
                  div#currentStep
                    include registration

  section
    div.headline
      div.container
        div.row-fluid
          div.inside
            h2 Privately received personally curated mentorshisp, for technical interviews.


  div.gradient-divider-top

  section
    div.skedit-box.container
      div.skedit-box-image-network
      div.skedit-text-container-right.flt-right
        div.skedit-text-title Make Connections
        div.clear-float
        div.skedit-text-context We'll connect you to a developer from around the world for a no-commitment code session.


  div.gradient-divider-top

  section
    div.skedit-box.container
      div.skedit-box-image-code.flt-right
      div.skedit-text-container-left
        div.skedit-text-title Code in 16 languages
        div.clear-float
        div.skedit-text-context Skedit supports 16 programming languages (C, C++, Java, C#, Python, Ruby, Javascript, PHP, Perl, HTML, CSS and MySQL) for automated code evaluation.

  div.gradient-divider-top

  section
    div.skedit-box.container
      div.skedit-box-image-receipt
      div.skedit-text-container-right.flt-right
        div.skedit-text-title Share Points
        div.clear-float
        div.skedit-text-context Start by simply telling us your skills and learn from others peers tips, tricks and best practices.






  :coffeescript
    $('#registration').submit (e) ->
      e.preventDefault()
      json =
        username: $('#username').val(),
        email: $('#email').val(),
        password: $('#password').val()

      $.post '/registration', json, (data) ->
        if data == 200 or data == 'OK'
          $.get '/createprofile', (html) ->
            $('#currentStep').html html
        else
          alert data



