extends layout

block content
  section
    div.main-image
  section
    div.headline
      div.container
        div.row-fluid
          div.inside
            h2 Privately received personally curated mentorshisp, for technical interviews.  


  