extends layout

block content
  section
    div.main-image
      div.container
        div.row-fluid
          div.box
            h2 Tell us about your skills, we'll match you with a mentor.
              form  
  section
    div.headline
      div.container
        div.row-fluid
          div.inside
            h2 Privately received personally curated mentorshisp, for technical interviews.  


  