doctype 5
html
  head
    title= "SkedIt"
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(async src='components/jquery/jquery.min.js')

  body
    block content
    block script