doctype 5
html
  head
    title= "SkedIt"
    link(rel='stylesheet', href='components/bootstrap/css/bootstrap-responsive.min.css')
    script(async src='components/jquery/jquery.min.js')

  body
    block content
    block script