include layout
  block content
    div.container
      div.sign-in
        h2#login-title Login
        form(action='/login', method='post')
          div
            input(type='text', name = 'username', placeholder='username')
          div
            input(type='password', name = 'password', placeholder='password')
          div
            button.btn-blue.btn-login(type='submit') Login
        