include layout
  block content
    div#header
      ul
        li
          h1#title College Hack
        li.navigation-links
          a(href='/registration', title='Create an Account') Sign Up
        li.navigation-links
          a(href='/login', title='Login in your Account') Login
    div.container
      div.sign-in
        h2#login-title Login
        form(action='/login', method='post')
          div
            input(type='text', name = 'username', placeholder='username')
          div
            input(type='text', name = 'password', placeholder='password')
          div
            button.btn-blue.btn-login(type='submit') Login
        