form(id='registration', data-validate='parsley')
  div.form-section#first-step
    header 
      label Your Account
    header
      label User Info
    ul.cf.form-list
      li
        input(id='username', type='text', name = 'username', placeholder = 'username', data-required='true')
      li
        input(id='email', type='email', name = 'email', placeholder = 'email', data-required='true', data-type='email')
      li
        select
          option UPR - Mayaguez Campus
      li
        input(id='password', type='password', name = 'password', placeholder = 'password', data-required='true', data-minlength='6')
        button.btn-blue.btn-register(type='submit') Register