include layout
  block content
    div.container
      div.sign-in
        h2#login-title Create your account
        form(action='/registration', method='post')
          div
            input(type='text', name = 'username', placeholder = 'username')
          div
            input(type='email', name = 'email', placeholder = 'email')
          div
            select
              option University of Puerto Rico - Mayaguez Campus 
          div
            input(type='password', name = 'password', placeholder = 'password')
          div
            button.btn-blue.btn-register(type='submit') Register