include layout
  block content
    div
      form(action='/registration', method='post')
        div
          input(type='text', name = 'username')
        div
          input(type='text', name = 'password')
        div
          button(type='submit') Register
        