#header {
	width: 100%;
	float: left;
	/*background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, white, #F1F1F1);
	background-image: -ms-linear-gradient(top, white, #F1F1F1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F1F1F1));
	background-image: -webkit-linear-gradient(top, white, #F1F1F1);
	background-image: -o-linear-gradient(top, white, #F1F1F1);
	background-image: linear-gradient(top, white, #F1F1F1);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFDCDCDC', GradientType=0);*/
	background-color: #3d94f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d94f5), to(#0066d0));
	background-image: -webkit-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -moz-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -o-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -ms-linear-gradient(top, #3d94f5, #0066d0);
	background-image: linear-gradient(top, #3d94f5, #0066d0);
	text-shadow: 0 -1px rgba(0,0,0,0.5);
	-webkit-background-size: auto,contain;
	-moz-background-size: auto,contain;
	-ms-background-size: auto,contain;
	-o-background-size: auto,contain;
	background-size: auto,contain;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-o-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	height:67px;
	z-index: 99;
	position:relative;
}

#header ul {
	margin: 0;
	list-style: none;
	float:left;
	width:100%;
}

#header ul li {
	float: left;
}

#header h1 {
	height: 67px;
}

h1 .image-logo {
	width:150px;
	padding:12px 0;
}

#header ul .navigation-links {
	float: right;
	height: 67px;
}

.navigation-links a {
	cursor: pointer;
	text-decoration: none;
	line-height: 67px;
	color: white;
	font-size: 1.1em;
	font-weight: normal;
	padding: 0 25px;
	font-family: "Proxima Nova";
}

/* MAIN PAGE */

.main-image {
	height: 630px;
	background: #131313 url(../images/photo-pitch.jpg) no-repeat center center;
	background-size: 1759px 687px;
	position: relative;
	padding-top: 67px;
}

.box {
	height: 570px;
	width: 500px;
	padding: 30px;
	float: right;
	background: rgba(0,0,0,0.5);

}

.box h2 {
	font-size: 1.8em;
	line-height: 1.8em;
	color: #fff;
	text-align: center;
	padding: 0 0 7% 0;
}

.box .form-wrapper {
	font-size: 9px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	border: solid 3px #CFD7DB;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
}

.box .form-steps {
	padding: 3% 6% 2%;
}

.form-steps {
	padding: 4% 6%;
	border-bottom: solid 1px #fff;
	background: #ffffff;
	background: -moz-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #fff), color-stop(100%, #ebeef2));
	background: -webkit-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: -o-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: -ms-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: linear-gradient(to bottom, #fff 8%, #ebeef2 100%);
}

.form-steps ul {
	margin:0;
}

.form-steps ul .info {
	margin: 0 16% 0 19%;
}

.form-steps ul .skills {
	margin-left: 20%;
}

#currentStep {
	float:left;
	margin-top: 32px;
}

#currentStep form {
	margin:0;
	float:left;
}

.form-steps ul li {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #82899e;
	display: inline-block;
	position: relative;
}

.form-steps ul .info:before  {
	content: " ";
	display: block;
	height: 6px;
	width: 141%;
	background: #82899e;
	position: absolute;
	top: 26px;
	left: 56px;
	z-index: 1;
}

.form-steps ul .skills:before  {
	content: " ";
	display: block;
	height: 6px;
	width: 141%;
	background: #82899e;
	position: absolute;
	top: 26px;
	left: -79px;
	z-index: 1;
}

.form-steps ul li h3 {
	width: 40px;
	height: 40px;
	line-height: 30px;
	margin-bottom: 9px;
	font-size: 1.3em;
	text-decoration: none;
}

.form-steps ul li span {
	left:12px;
	position:relative;
}

.form-steps ul li h3 {
	position: relative;
	z-index: 1000;
	background: #fff;
	border: solid 5px #82899e;
	color: #82899e;
	width: 46px;
	height: 46px;
	line-height: 47px;
	text-align: center;
	font-size: 1.9em;
	display: block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: 8px;
}

.form-section {
	min-height: 161px;
}

.form-section {
	padding: 0 0 6% 0;
	border-bottom: #fff solid 1px;
	-webkit-box-shadow: inset 0px -5px 6px -3px rgba(0,0,0,0.04);
	box-shadow: inset 0px -5px 6px -3px rgba(0,0,0,0.04);
	float:left;
}

.form-section ul {
	margin:0;
	float:left;
}

.form-list li {
	list-style: none;
	float:left;
	margin: 0 0 4% 5%;
}

.form-list li > input[type="text"] {
	padding:1.5% 6%;
	-moz-transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;	
	width:13em;
	height:2.5em;
}

.form-list li > input[type="email"] {
	padding:1.5% 6%;
	-moz-transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;	
	width:13em;
	height:2.5em;
}

.form-list li > input[type="password"] {
	padding:1.5% 6%;
	-moz-transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;	
	width:13em;
	height:2.5em;
}

.form-list li > select {
	width: 15em;
	height: 3em;
}

.headline {
	padding: 8em 0;
	background: #333439;
}

.headline .inside {
	padding: 0 4%;
}

.headline h2 {
	color: #fff;
	font-size: 2.6em;
	line-height: 2em;
	text-align: center;
	font-family: "Proxima Nova";
}

.gradient-divider-top {
	background-image: url(../images/divider.png);
	background-repeat: repeat-x;
	height: 12px;
	clear: both;
}

.skedit-box {
	padding: 20px;
	text-align: center;
	height: 470px;
	position: relative;
}

.skedit-box-image-receipt {
	background-image: url(../images/receipt.png);
	height: 462px;
	width: 530px;
	background-repeat: no-repeat;
}

.skedit-text-container-right {
	position: absolute;
	top: 85px;
	right: 40px;
	width: 430px;
}

.flt-right {
	float:right;
}

.skedit-text-title {
	font-size: 2em;
	color: #333;
	margin: 50px auto 20px auto;
	font-weight: 400;
	line-height: 1.5;
}

.clear-float {
	clear: both;
}

.skedit-text-context {
	text-align: center;
	font-size: 18px;
	color: #797979;
	font-weight: 300;
	line-height: 1.7;
}

.skedit-box-image-network {
	background-image: url(../images/network.png);
	height: 462px;
	width: 530px;
	background-repeat: no-repeat;
}

.skedit-box-image-code {
	background-image: url(../images/code.png);
	height: 462px;
	width: 530px;
	background-repeat: no-repeat;
}

.skedit-text-container-left {
	position: absolute;
	top: 80px;
	left: 40px;
	width: 420px;
}



/* CREATE ACCOUNT PAGE - LOGIN */

.sign-in {
	width: 590px;
	height: 320px;
	margin: 0 auto;
	padding: 7.5em 0 4em;
	float: none;
	text-align: left;
}

.sign-in #login-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.sign-in form {
	margin: 35px 140px;
}

.btn-blue {
	font-size: 18px;
	line-height: 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: 1px solid #2465a1 !important;
	background-color: #3d94f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d94f5), to(#0066d0));
	background-image: -webkit-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -moz-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -o-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -ms-linear-gradient(top, #3d94f5, #0066d0);
	background-image: linear-gradient(top, #3d94f5, #0066d0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3d94f5', EndColorStr='#0066d0');
	text-shadow: 0 -1px rgba(0,0,0,0.5);
	font-family: "Verdana";
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
}

.btn-next {
	padding: 13px 147px;
	margin:0 5%;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.btn-login {
	padding: 13px 130px;
}

.wrapper-second-step {
	font-size: 9px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background: transparent;
	overflow: hidden;
	position: relative;
}

.wrapper-second-step #photo form {
	margin: 0;
}

.wrapper-second-step #photo {
	float:left;
}

.wrapper-second-step #photo img {
	width:153px;
	height:153px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.wrapper-second-step #photo div {
	text-transform: none;
	font-size: 10px;
	margin: 13px 0;
	text-align: center;
}

.wrapper-second-step #skills {
	width:61%;
	margin-left: 15px;
}

#skills ul {
	margin:0;
}

#skills ul li {
	padding: 0px 17px 4px 8px;
	line-height: 20px;
}

#skills input[type="text"] {
	margin: 0;
	padding:1.5% 6%;
	-moz-transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;	
	width:13em;
	height:1.8em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}

#skills span {
	font-size: 13px;
	text-transform: lowercase;
	left: 0;
}

.wrapper-second-step #save {
	float: left;
	width: 100%;
	margin: 10px 0 20px;
}

.btn-register {
	padding: 13px 168px;
	text-transform: uppercase;
	letter-spacing: 1px;
}


