#header {
	width: 100%;
	float: left;
	/*background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, white, #F1F1F1);
	background-image: -ms-linear-gradient(top, white, #F1F1F1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F1F1F1));
	background-image: -webkit-linear-gradient(top, white, #F1F1F1);
	background-image: -o-linear-gradient(top, white, #F1F1F1);
	background-image: linear-gradient(top, white, #F1F1F1);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFDCDCDC', GradientType=0);*/
	background-color: #3d94f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d94f5), to(#0066d0));
	background-image: -webkit-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -moz-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -o-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -ms-linear-gradient(top, #3d94f5, #0066d0);
	background-image: linear-gradient(top, #3d94f5, #0066d0);
	text-shadow: 0 -1px rgba(0,0,0,0.5);
	-webkit-background-size: auto,contain;
	-moz-background-size: auto,contain;
	-ms-background-size: auto,contain;
	-o-background-size: auto,contain;
	background-size: auto,contain;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-o-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	height:67px;
}

#header ul {
	margin: 0;
	list-style: none;
	float:left;
	width:100%;
}

#header ul li {
	float: left;
}

#header h1 {
	height: 67px;
}

h1 .image-logo {
	width:150px;
	padding:12px 0;
}

#header ul .navigation-links {
	float: right;
	height: 67px;
}

.navigation-links a {
	cursor: pointer;
	text-decoration: none;
	line-height: 67px;
	color: white;
	font-size: 1.1em;
	font-weight: normal;
	padding: 0 25px;
	font-family: "Proxima Nova";
}

/* MAIN PAGE */

.main-image {
	height: 630px;
	background: #131313 url(../images/photo-pitch.jpg) no-repeat center center;
	background-size: 1759px 687px;
	position: relative;
	z-index: -99;
	padding-top: 67px;
}

.box {
	height: 630px;
	width: 500px;
	padding: 30px;
	float: right;
	background: rgba(0,0,0,0.5);

}

.box h2 {
	font-size: 1.8em;
	line-height: 1.8em;
	color: #fff;
	text-align: center;
	padding: 0 0 7% 0;
}

.box form {
	font-size: 9px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	border: solid 3px #CFD7DB;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
}

.box .form-steps {
	padding: 3% 6%;
}

.form-steps {
	padding: 4% 6%;
	border-bottom: solid 1px #fff;
	background: #ffffff;
	background: -moz-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #fff), color-stop(100%, #ebeef2));
	background: -webkit-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: -o-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: -ms-linear-gradient(top, #fff 8%, #ebeef2 100%);
	background: linear-gradient(to bottom, #fff 8%, #ebeef2 100%);
}

.headline {
	padding: 8em 0;
	background: #333439;
}

.headline .inside {
	padding: 0 4%;
}

.headline h2 {
	color: #fff;
	font-size: 2.6em;
	line-height: 2em;
	text-align: center;
	font-family: "Proxima Nova";
}

/* CREATE ACCOUNT PAGE - LOGIN */

.sign-in {
	width: 590px;
	height: 320px;
	margin: 0 auto;
	padding: 7.5em 0 4em;
	float: none;
	text-align: left;
}

.sign-in #login-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.sign-in form {
	margin: 35px 140px;
}

.sign-in form input[type="email"], .sign-in form input[type="text"], .sign-in form input[type="password"] {
	width: 300px;
}

.sign-in form select {
	width: 310px;
	height: 40px;
	line-height: 40px;
}

.btn-blue {
	font-size: 18px;
	line-height: 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: 1px solid #2465a1 !important;
	background-color: #3d94f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d94f5), to(#0066d0));
	background-image: -webkit-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -moz-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -o-linear-gradient(top, #3d94f5, #0066d0);
	background-image: -ms-linear-gradient(top, #3d94f5, #0066d0);
	background-image: linear-gradient(top, #3d94f5, #0066d0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3d94f5', EndColorStr='#0066d0');
	text-shadow: 0 -1px rgba(0,0,0,0.5);
	font-family: "Verdana";
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
}

.btn-register {
	padding: 13px 117px;
}

.btn-login {
	padding: 13px 130px;
}

#photo form {
	margin: 0;
}







